<html>
<head>    
    <title>Full Cycle Rocks</title>
</head>
<body>
    <h1>Full Cycle Rocks!!</h1>
    <table class=“table table-hover”>
         <th>Nomes</th>
         <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>    
            <tr>
              <td><%=data.name %></td>
            </tr>
    
            <% i++; }) %> <% } else { %>    
            <tr>    
              <td colspan=“7”>No Data Found</td>    
            </tr>    
            <% } %>
    </table>
</body>
</html>